altgraph==0.17
Brotli==1.1.0
certifi==2024.7.4
charset-normalizer==3.3.2
idna==3.7
mutagen==1.47.0
mypy==0.761
mypy-extensions==0.4.3
pycryptodomex==3.20.0
pydub==0.25.1
PyInstaller==3.6
requests==2.32.3
typed-ast==1.4.3
typing-extensions==3.7.4.1
urllib3==2.2.2
websockets==12.0
yt-dlp==2024.7.25
